<a href="https://colab.research.google.com/github/mustafaozsahinn/daily-work/blob/main/november9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
finder = lambda x : "odd" if x % 2 != 0 else "even"

In [2]:
finder(5)

'odd'

In [30]:
(lambda x: x**2)(2) # using with ()

4

In [32]:
print((lambda x, y: (x + y)*2)(3,5))
print((lambda x, y: (x+y)/2)(3, 5))

16
4.0

In [33]:
average = lambda x, y: (x+y)/2   # assing as a value 
print(average(3, 5))             # we call

4.0

In [35]:
echo_word = lambda x, y: x * y
print(echo_word("hello", 3))

hellohellohello

# map

In [7]:
vocabs = ["alice", "brain", "kai"]
map(len, vocabs)
type(map(len, vocabs))

map

In [6]:
list(map(len, vocabs))

[5, 5, 3]

In [8]:
lenght = []

for i in vocabs:
  lenght.append(len(i))

print(lenght)

[5, 5, 3]

In [13]:
my_function = lambda x : x ** 2
iterables = [1, 2, 3, 4, 5]
result = map(my_function, iterables)
print(result)
print(* result)
print(map(my_function, iterables))
print(* map(my_function, iterables))

<map object at 0x7f23abdc0d50>
1 4 9 16 25
<map object at 0x7f23abd87fd0>
1 4 9 16 25

In [20]:
def square(x):
  return x ** 2

list(map(square, iterables))

[1, 4, 9, 16, 25]

In [21]:
summ = lambda x, y, z : x + y + z
summ("a", "l", "i")

'ali'

In [22]:
letter1 = ["o", "s", "t", "t"]
letter2 = ["n", "i", "e", "w"]
letter3 = ["e", "x", "n", "o"]
numbers = map(lambda x, y, z: x + y + z, letter1, letter2, letter3)

print(list(numbers))

['one', 'six', 'ten', 'two']

In [26]:
num1 = [9, 6, 7, 4]
num2 = [3, 6, 5, 8]

func = lambda x, y: (x + y) / 2
print(list(map(func, num1, num2)))

[6.0, 6.0, 6.0, 6.0]

In [29]:
words1 = ["you", "much", "hard"]
words2 = ["i", "you", "he"]
words3 = ["love", "ate", "works"]

print(list(map(lambda x, y, z : x + " " + y + " " + z, words2, words3, words1)))

['i love you', 'you ate much', 'he works hard']

# filter

In [43]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
  
even = filter(lambda x:x%2==0, first_ten) 
print(type(even))  # it's 'filter' type, 
                   # in order to print the result,
                   # we'd better convert it into the list type
odd = filter(lambda x: x%2, first_ten) # x%2 tek sayılar için 1 verir, bu da True demek 
print('Odd numbers are :', list(odd))
print('Even numbers are :', list(even))

<class 'filter'>
Odd numbers are : [1, 3, 5, 7, 9]
Even numbers are : [0, 2, 4, 6, 8]

In [52]:
# 5 haften kısa olan fruits listeler

words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

print(list(filter(lambda x: len(x) < 5, words)))

['swim', 'me', 'kiwi']

In [59]:
letter1 = "a b c".split()
letter2 = "x y z".split()

zipped_map = map(zip, letter1, letter2) # bunu doğrudan yazdırırsak zipped note çıkar

for i in zipped_map:   # for i in ile yaptığımızda da yine zipli çıkar
  for j in i:
    print(j, end = " ")

('a', 'x') ('b', 'y') ('c', 'z')

In [60]:
list(zip(letter1[1], letter2[0]))

[('b', 'x')]

In [42]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten_letter = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
  
     # vovel_list içinde mi diye bakıyoruz, nerede ? first_ten_letter içinde
vowels = filter(lambda x: True if x in vowel_list else False, first_ten_letter)
                                   
print('Vowels are :', list(vowels))

Vowels are : ['a', 'e', 'i']

In [64]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten_letter = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

vowels2 = filter(lambda x: x in vowel_list, first_ten_letter)
print(list(vowels2))

['a', 'e', 'i']

# user-defined function

In [71]:
def modular_function(n):
    return lambda x: x ** n
    
power_of_2 = modular_function(2)  # first sub-function derived from def
power_of_3 = modular_function(3)  # second sub-function derived from def
power_of_4 = modular_function(4)  # third sub-function derived from def

print(power_of_2(2))  # 2 to the power of 2
print(power_of_3(2))  # 2 to the power of 3
print(power_of_4(3))  # 3 to the power of 4

4
8
81

In [72]:
def repeater(n):
    return lambda x: x * n
    
repeat_2_times = repeater(2)  # repeats 2 times
repeat_3_times = repeater(3)  # repeats 3 times
repeat_4_times = repeater(4)  # repeats 4 times

print(repeat_2_times('ali '))
print(repeat_3_times('deli '))
print(repeat_4_times('veli '))

ali ali
deli deli deli
veli veli veli veli

In [78]:
def face(n):
  return lambda x: x + n

myPrint_smile = face(" :)")
myPrint_sad = face(" :(")
myPrint_neutral = face(" :I")

print(myPrint_smile("heyyy"))
print(myPrint_sad("hi"))
print(myPrint_neutral("hello"))

heyyy :)
hi :(
hello :I

# my own function isprime()

In [88]:
prime_numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 53, 61]

def isprime(x):
  return x in prime_numbers

isprime(6)

False

extra example

In [89]:
def x():
  return 1, 2, 3, 4

a, b, c, d = x()
a

1

In [94]:
num = [1, 1, 1, 4, 5, 5]
# en çok tekrar eden hangisi
number = max(num, key=num.count)
# kaç kez tekrar etmiş
count = num.count(max(num, key= num.count))

In [108]:
def equal(a, b, c):
  num = [a, b, c]
  result = num.count(max(num, key= num.count))
  print(result) if result > 1 else print(0)

In [110]:
equal(1, 1, 4)

2