<a href="https://colab.research.google.com/github/mustafaozsahinn/daily-work/blob/main/november2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple unpacking

In [1]:
# value çok
a, b = (10, 20, 30, 40)

# value çok
a, b, c = (10, 20)

ValueError: ignored

In [2]:
# _ place holder, hata verilmesini engeller.
a, _, b, _ = (10, 20, 30, 40)
a

10

In [3]:
# _ e verilen son değeri tutar
a, _, b, _ = (10, 20, 30, 40)
_

40

In [5]:
#* birden çok elemanı alır
x, y, *z = (10, 20, 30, 40)
z

[30, 40]

In [6]:
# *_ hem yer tutar hem de hepsini kapsar. kurtarıcı
x, y, *_ = (10, 20, 30, 40)

In [9]:
# sondan da check eder.
x, y, *_, z, t = (10, 20, 30, 40, 50, 60, 70)
z

60

In [10]:
mytuple = ("apple", "banana", "chery")
myiterator = iter(mytuple)

In [13]:
print(*myiterator)

apple banana chery

In [16]:
myiterator = iter(mytuple)
next(myiterator)

'apple'

In [17]:
next(myiterator)

'banana'

In [18]:
next(myiterator)

'chery'

In [19]:
# artık next kalmadı, hata verir.
# if döngüsünün içinde bunlar oluyor aslında
next(myiterator)

StopIteration: ignored

# List Comprehension

In [ ]:
for variable in iterable:
  expression

In [ ]:
[expression for item in iterable]

In [25]:
numbers = []

for i in range(5):
  numbers.append(i)
  print(numbers)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]

In [31]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [32]:
[i ** 2 for i in range(5)]

# or
# [i * i for i in range(5)]

[0, 1, 4, 9, 16]

In [33]:
writers = ["jane austen", "george orwell", "james joyce"]

list_writers = [i.title() for i in writers]

print(list_writers)

['Jane Austen', 'George Orwell', 'James Joyce']

In [48]:
a = [4,5,6,7]
b = [8,9,10,11]

liste = list(zip(a,b))
# bu görünmez list(zip(a,b)) şeklinde görebiliriz.

area = [i * j for i, j in liste]

area

[32, 45, 60, 77]

In [50]:
a = [4,5,6,7]
b = [8,9,10,11]

area = [i * j for i, j in list(zip(a,b))]
area

[32, 45, 60, 77]

# Ternary conditional operator

In [51]:
a = 2
b = 3

print("a bigger than b") if a > b else print("b bigger than a")

b bigger than a

In [56]:
a = int(input("enter a number"))
angle = 60 

round((a ** 2 * 3 ** 0.5),2) if angle == 60 else print("no way")

enter a number4

27.71

In [ ]:
# i % 2 == 0 ise i çift demektir.
# i çift istiyorsak not i % 2 ile de yapabiliriz.

In [82]:
my_list = [1, 2, 3, 4, 5]
new_list = []

for i in my_list:

  if i % 2:
    new_list.append(i**2)

print(new_list)

[1, 9, 25]

In [98]:
my_list = [1, 2, 3, 4, 5]

new_list = [i ** 2 if i % 2 else i ** 3 for i in my_list]

print(new_list)

[1, 8, 9, 64, 25]

# Acquaintance with Functions

# Calling a Function

In [ ]:
# multiply(2,5)
# name of func(arguments of func)

In [91]:
my_list = [0, "1", 2, 3, 4, 5, ""]

aaa = filter(None,my_list)

for i in aaa:
  print(i)

1
2
3
4
5