<a href="https://colab.research.google.com/github/mustafaozsahinn/daily-work/blob/main/october31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# geçmiş dersin kısaca tekrarı yapıldı.

# Working with iterators
*   str
*   list
*   tuple
*   dict
*   set

In [12]:
word = input("Enter a word: ")
counter = 0

for i in word:
  counter +=1
  if counter < len(word):
    i += "-"
  print(i, end = "")

Enter a word: aheyaheyahey
a-h-e-y-a-h-e-y-a-h-e-y

In [19]:
word = input("Enter a word: ")
counter = 1

for i in word:
  counter +=1
  if counter < len(word):
    i += "-"
  print(i, end = "")

Enter a word: Clarusway
C-l-a-r-u-s-w-ay

In [13]:
user = {
    "name" : "Daniel",
    "surname" : "Smith",
    "age" : 35
}

for attribute in user: # i veya attribute diyorsa keyleri al.
  print(attribute)

name
surname
age

In [14]:
# name in user True verir
# Smith in user False verir

In [17]:
user = {
    "name" : "Daniel",
    "surname" : "Smith",
    "age" : 35
}

for attribute in user.values(): # values u istiyor.
  print(attribute, end = " ")

Daniel Smith 35

In [18]:
user = {
    "name" : "Daniel",
    "surname" : "Smith",
    "age" : 35
}

for key, value in user.items(): # hem key hem value diyorsa ikisini de al.
  print(key, ":", value)

name : Daniel
surname : Smith
age : 35

In [20]:
user.items()

dict_items([('name', 'Daniel'), ('surname', 'Smith'), ('age', 35)])

In [22]:
a, b, c = 3, 5, 7

print(c)

7

In [28]:
for key, value in user.items():
  print(key, value)

name Daniel
surname Smith
age 35

In [34]:
test = [(1,2), (3,4), (5,6), (7,8)]
test[1]

(3, 4)

In [36]:
for i, j in test:
  print(i, j)

1 2
3 4
5 6
7 8

In [37]:
for i,j in test:
  print(i * j)

2
12
30
56

In [49]:
number = int(input("enter a number :"))

for i in range(11):
  print(i, "*", number, "=", i * number)

enter a number :4
0 * 4 = 0
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40

In [53]:
print(range(5))
print(*range(5))
print(set(range(5)))
print(list(range(5)))

range(0, 5)
0 1 2 3 4
{0, 1, 2, 3, 4}
[0, 1, 2, 3, 4]

In [54]:
# * on the air olanı görünür kılar
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

In [55]:
# * iterable olan objects i ayırır
print(*("seperate"))

s e p e r a t e

In [59]:
for i in range(1,10):
  print(i*str(i))

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [63]:
text = ["one", "two", "three", "four", "five"]
numbers = [1, 2, 3, 4, 5]
print(zip(text, numbers)) # on the air
print(*(text, numbers))

<zip object at 0x7f3b08161e10>
['one', 'two', 'three', 'four', 'five'] [1, 2, 3, 4, 5]

In [66]:
text = ["one", "two", "three", "four", "five"]
numbers = [1, 2, 3, 4, 5]
letters = ["a", "b", "c"]
for x, y, z in zip(text, numbers, letters): # ziplerken adedi küçük olana göre çalışır.
  print(x, ":", y, "-", z)

one : 1 - a
two : 2 - b
three : 3 - c

In [70]:
zipped = zip(text, numbers, letters)
print(*zipped)

('one', 1, 'a') ('two', 2, 'b') ('three', 3, 'c')

In [72]:
print(*zipped)
list(*zipped)

[]

Kahoot örnekler

In [74]:
count = 0
while count >= 0:
  print(count)
  count += 1
  if count == 10:
    break # break te bırakır onu saymaz

0
1
2
3
4
5
6
7
8
9

In [89]:
evens = []
odd = []

for i in range(11):
  if (i % 2) == 0:
    evens.append(i)
  else:
    odd.append(i)
print(evens, odd, sep = "\n")

[0, 2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [94]:
given_list = [11, 2, 24, 61, 48, 33, 3]
evens = 0
odds = 0

for i in given_list:
  if (i % 2) == 0:
   evens += 1
  else:
    odds += 1

print("evens:", evens)
print("odds:", odds)

evens: 3
odds: 4

In [108]:
total = 0

for i in range(75):
  total += i
print(total)

2775

In [114]:
names = ["susan", "tom", "edward"]
mood = ["happy", "sad"]

for i in names:
  for ii in mood:
    print(i, "was", ii) 
  print("life goes on" )

susan was happy
susan was sad
life goes on
tom was happy
tom was sad
life goes on
edward was happy
edward was sad
life goes on