<a href="https://colab.research.google.com/github/mustafaozsahinn/daily-work/blob/main/october_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# list ve tuple arasında geçiş yapılabilir
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(type(my_list), my_list)

<class 'list'> [1, 2, 3]

In [2]:
my_list = tuple(my_list)
print(type(my_list), my_list)

<class 'tuple'> (1, 2, 3)

In [3]:
# tuple içindeki str itreable olduğu için itere edebiliriz
mountain = tuple ("Alps")
print(mountain)

('A', 'l', 'p', 's')

In [4]:
# value olarak yazıldığında tuple için () gerekmez.
tuple_1 = "h", "a", "p", "p", "y"
tuple_2 = 1, 3, 5
print(type(tuple_1), type(tuple_2), tuple_1, tuple_2)

<class 'tuple'> <class 'tuple'> ('h', 'a', 'p', 'p', 'y') (1, 3, 5)

In [5]:
#tek str tuple olmaz ama yanına , konulması tuple yapar
tuple_x = "david"
tuple_y = "david",
print(tuple_x)
print(tuple_y)

david
('david',)

In [6]:
a = range(1,11)
print(a)
print(list(a))
print(*a)  # * ile range aralığındaki nesneleri görebiliriz

range(1, 11)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1 2 3 4 5 6 7 8 9 10

In [7]:
b = range(1,11)
b = list(b)

In [8]:
b[-1] = "ten" # son elemanı değiştirmek için assign etmek istedik
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'ten']

In [9]:
sayılar = 1, 2, 3, 4
sayılar[2] = "tree" # tuple içindekileri değiştiremeyiz. -şimdilik

TypeError: ignored

In [10]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair")) 
new_list = list(mix_tuple[2][2])
print(new_list[0])

six

In [11]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair")) 
str_six = mix_tuple[2][1:3]
print(str_six, type(str_six), sep = "\n")

['two', ('six', 6)]
<class 'list'>

In [12]:
mix_tuple[-1][-1] # tupledan slice yapmak için list e çevirmeye gerek yok.

'fair'

# Dictionaries
key and value pairs which are ordered

{key1 : value1,

 key2 : value2}

dict()

In [13]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
}
print(thisdict)  # key:value, şeklinde atama ile pairler çalışıyor

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [14]:
thisdict = dict(brand= "Ford", model= "Mustang", year= 1964)  # bu şekilde de yazılabilir
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [15]:
# dictionaries key olark hash edilemez değeri / değiştirilebilir verileri atayamayız
# tuple, string, int, float bunlar immutable dır. bunlar key olabilir.
second_dict = {[1,2] : "one"}

TypeError: ignored

In [16]:
 # 1 = "one" çalışmaz çünkü 1 int halindeyken variable olamaz. dict içinde olur.
dict = {"one" : 1, "two" : 2, "three" :3}
dict

{'one': 1, 'two': 2, 'three': 3}

In [17]:
dict(isim = "ali", isim = "veli") # aynı variable iki farklı yere eşitlenemiyor!
dict

SyntaxError: ignored

In [18]:
# yeni item ekleme
dict = {"one" : 1, "two" : 2, "three" :3}
dict["four"] = 4
print(dict)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [19]:
# itemi bulma
dict["one"]

1

In [20]:
type(dict["one"])

int

In [21]:
dict["one"]*4

4

In [22]:
family = {"mom" : "anne", "dad" : "baba", "boy" : "oğlan"}
print(family)
family["girl"] = "kız"
print(family)

{'mom': 'anne', 'dad': 'baba', 'boy': 'oğlan'}
{'mom': 'anne', 'dad': 'baba', 'boy': 'oğlan', 'girl': 'kız'}

In [1]:
family2 = dict(mom = "mother", dad = "father", boy = "kid")
print(family2)

{'mom': 'mother', 'dad': 'father', 'boy': 'kid'}

In [2]:
dict(car = "ford", model = "focus", year = "2010")

{'car': 'ford', 'model': 'focus', 'year': '2010'}