<a href="https://colab.research.google.com/github/mustafaozsahinn/daily-work/blob/main/october24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# dict fonksiyonu içinde key leri "quote" yapmıyoruz.
# value her veri tipinde olabilir.
my_dict = dict(animal = "dog", planet = "neptun", number = 40, pi = 3.14, is_good = True )
my_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True}

In [ ]:
my_dict["is_good"]

True

In [ ]:
type(my_dict["is_good"])

bool

In [ ]:
my_dict["animal"]
# dict içinden alırken "" kullanmak gerekiyor.

'dog'

In [ ]:
shoes_numbers = {"ali" : 1,
                "ahmet" : 1,
                "mehmet" : 1
                }

In [ ]:
shoes_numbers["ahmet"]

1

In [ ]:
shoes_numbers["ahmet"] += 1

# value ya 1 ekleme için bir defa çalıştırırız.

shoes_numbers

{'ali': 1, 'ahmet': 2, 'mehmet': 1}

In [ ]:
# .items() key ve value lardan tuple oluşturup, tuple lardan list oluşturuyor.
# .keys() liste formatında keys getiriyor.
# .values() liste formatında values getiriyor.
print(my_dict.items())
print(my_dict.keys())
print(my_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])
dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])
dict_values(['dog', 'neptun', 40, 3.14, True])

In [ ]:
# .update() methoduyla dict e ekelme yapma.
my_dict.update( student = "ayşe")
my_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'student': 'ayşe'}

In [ ]:
my_dict.update({"mehmet" : "bay", 11 : "integer"})
my_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'student': 'ayşe',
 'mehmet': 'bay',
 11: 'integer'}

In [ ]:
print(my_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'student': 'ayşe', 'mehmet': 'bay', 11: 'integer'}

In [ ]:
# .items() kendine has bir type ı var
type(my_dict.items())

dict_items

In [ ]:
len(my_dict.items())

8

In [ ]:
list(my_dict.items())

[('animal', 'dog'),
 ('planet', 'neptun'),
 ('number', 40),
 ('pi', 3.14),
 ('is_good', True),
 ('student', 'ayşe'),
 ('mehmet', 'bay'),
 (11, 'integer')]

In [ ]:
type(my_dict.keys())

dict_keys

In [ ]:
tuple(my_dict.keys())

('animal', 'planet', 'number', 'pi', 'is_good', 'student', 'mehmet', 11)

In [ ]:
type(tuple(my_dict.keys()))

tuple

In [ ]:
my_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'student': 'ayşe',
 'mehmet': 'bay',
 11: 'integer'}

In [ ]:
print(my_dict.items(), "\n", my_dict.keys(), "\n", my_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True), ('student', 'ayşe'), ('mehmet', 'bay'), (11, 'integer')])
 dict_keys(['animal', 'planet', 'number', 'pi', 'is_good', 'student', 'mehmet', 11])
 dict_values(['dog', 'neptun', 40, 3.14, True, 'ayşe', 'bay', 'integer'])

In [ ]:
items = list(my_dict.items())

In [ ]:
items[0]

('animal', 'dog')

In [ ]:
len(items[0])

2

In [ ]:
x , y = items[0]
print(x)
print(y)

animal
dog

In [ ]:
x, y = "animal", "dog"

In [ ]:
# , ile ayrılan items tuple dır.
x, y

('animal', 'dog')

In [ ]:
tuple(my_dict.keys())

('animal', 'planet', 'number', 'pi', 'is_good', 'student', 'mehmet', 11)

In [ ]:
set(my_dict.values())

{3.14, 40, True, 'ayşe', 'bay', 'dog', 'integer', 'neptun'}

In [ ]:
# .update() ile birden çok item ekleyebiliyoruz - ve değiştirebiliyoruz
# .insert() de ekelme yapar - eskiden

In [ ]:
my_dict.update({"animal" : "cat"})
my_dict

{'animal': 'cat',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'student': 'ayşe',
 'mehmet': 'bay',
 11: 'integer'}

In [ ]:
# değişken silmek için del fonksiyonu var.
del my_dict["number"]

In [ ]:
my_dict

{'animal': 'cat',
 'planet': 'neptun',
 'pi': 3.14,
 'is_good': True,
 'student': 'ayşe',
 'mehmet': 'bay',
 11: 'integer'}

In [ ]:
# aynı anda birden çok değişken silebilriz.
del my_dict["mehmet"], my_dict["pi"]

In [ ]:
my_dict

{'animal': 'cat',
 'planet': 'neptun',
 'is_good': True,
 'student': 'ayşe',
 11: 'integer'}

In [ ]:
# in çok kullanışlı, condition yazarken
"a" in "adana"

True

In [ ]:
course = "cours era"
course.split()

['cours', 'era']

In [ ]:
course = "cours era".split()
course

['cours', 'era']

In [ ]:
example = "ali-deli-veli".split("-")
example

['ali', 'deli', 'veli']

In [ ]:
"a" in course

False

In [ ]:
course = "c o u r s e r a".split()
"a" in course

True

In [ ]:
my_dict

{'animal': 'cat',
 'planet': 'neptun',
 'is_good': True,
 'student': 'ayşe',
 11: 'integer'}

In [ ]:
# values arasında aramaz.
"neptun" in my_dict

False

In [ ]:
# keys arasında arar
"planet" in my_dict

True

In [ ]:
# .values() ile values arasdında da soegulama yapılabilir.
"cat" in my_dict.values()

True

In [ ]:
# not in bildiğimiz gibi in tersi
"dog" not in my_dict.values()

True

# Nested Dictionaries